
<div class="container-form-horizontal">
  <div class="wrap-form-horizontal">
    <form class="form-horizontal">


      <fieldset>

         <span class="login100-form-title">
           Welcom
          </span>

        <!--<legend>LogIn</legend>-->

        <!--- Email Block --->
        <div class="wrap-input100">
          <!--<label for="inputEmail">Email</label>-->

          <input class="noborder"
                 (keyup)="onKeyUp1(input1.value)"
                 type="text"
                 #input1
                 placeholder="Email">

        </div>
        <!--<p>{{inputText2}}</p>-->

        <!--- Password Block --->
        <div class="wrap-input100" >

          <!--<label for="inputPassword">Password</label>-->
          <input class="noborder"
                 (keyup)="onKeyUp2(input2.value)"
                 type="password"
                 #input2
                 placeholder="Password">
        </div>


        <!--- Buttons Block --->
        <div class="wrap-btn-btn-primary">
            <div class="bgbtn-btn-primary"></div>
           <button (click)="save()" type="submit" class="btn-btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
